* {
  /* เซ็ตค่าให้ทุก element ไม่มี padding, margin กำหนดให้ฟ้อนต์เป็น Chivo หากไม่สามารถแสดงผลได้ให้เป็น sans-serif */
  margin: 0;
  padding: 0;
  font-family: "Chivo", sans-serif;
}

body {
  /* กำหนดสีพื้นหลัง สีตัวอักษรและความห่างระหว่างบรรทัด */
  background-color: #eaefef;
  color: #394256;
  line-height: 1.6;
}

img {
  width: 35%;
  height: 35%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: "Archivo Black";
  text-transform: uppercase;
  font-size: 250%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: bold;
  text-shadow: 2px 2px 6px #888;
}

h3 {
  font-size: 150%;
  font-family: "Archivo Black";
}

li {
  margin-bottom: 13px;
}

p span {
  color: red;
  font-size: larger;
  font-weight: bold;
}

h5 {
  font-weight: bold;
}

.margin-20-bottom {
  margin-bottom: 20px;
}

.contain-1,
.text-1 {
  width: 60%;
  background-color: #e5f9f8;
  padding: 20px;
  border-style: dashed;
}

.center-box {
  margin: 0 auto;
}

.contain-2,
.contain-3,
.contain-4,
.contain-5 {
  width: 60%;
  margin: 0 auto;
}

.contain-2 h3,
.contain-3 h3,
.contain-4 h3,
.contain-5 h3,
.contain-6 h3 {
  margin-bottom: 10px;
  text-decoration: underline dashed;
}

.margin-40-bottom {
  margin-bottom: 30px;
}

.margin-10-bottom {
  margin-bottom: 10px;
}
.list-font-size {
  width: 50%;
  padding: 30px;
  background-color: #e5f9f8;
  border-style: dashed;
}

.xx {
  font-size: xx-small;
}

.x {
  font-size: x-small;
}

.small {
  font-size: small;
}

.medium {
  font-size: medium;
}

.large {
  font-size: large;
}

.x-large {
  font-size: x-large;
}

.xx-large {
  font-size: xx-large;
}

.contain-3 ul {
  margin-left: 50px;
}

.contain-list {
  margin-left: 40px;
}

.button:link,
.button:visited {
  font-family: "Kanit";
  display: inline-block;
  padding: 15px;
  background-color: #3498db;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 1.5s;
}

.button:hover,
.button:active {
  background-color: #2980b9;
}

.contain-6,
.contain-7 {
  width: 60%;
}

.contain-6 h5,
.contain-6 img {
  margin-bottom: 10px;
}

.contain-6 h5 {
  font-size: 20px;
}
.contain-6 img {
  display: block;
  margin-left: 30px;
}

.contain-7 h5 {
  font-size: 20px;
}

.show-text {
  background-color: #2c3e50;
  color: #ecf0f1;
  font-family: "Google Sans Code";
  border-radius: 8px;
  padding: 15px;
  overflow: scroll;
  border: 1px solid #34495e;
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.show-text:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.thai-font {
  font-family: "Kanit";
}

footer {
  background-color: #333446;
  padding: 20px;
  text-align: center;
  color: #eaefef;
  font-size: 125%;
}
